{% extends "base/base.html" %} {% load django_bootstrap5 %}
{% block content %}{{block.super}}

<div class="col-lg-6 mb-3 mb-lg-0">
  <div class="hover hover-3 text-white rounded"><img src="{{neighbourhood.picture.url}}" alt="">
      <div class="hover-overlay"></div>
      <div class="hover-3-content px-5 py-4">
          <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span
                  class="font-weight-light">{{neighbourhood.name}}</h3>
          <center>
              <a href="{{neighbourhood.link}}" class=" btn hover-3-description small text-uppercase mb-0"
                  style="margin-top:30px;">Visit Site</a>
          </center>
      </div>
  </div>
</div>

<div class="container">
  <div class="project-content">
      <center>
          <h1>{{neighbourhood.name}}</h1>
          <p>By: {{neighbourhood.Occupants_count}}</p>
          <div class="ratings-container"  >
            <p style="color: white;">Police Number  - {{contacts.police}}</p>
            <p style="color: white;">Hospital Number  - {{contacts.hospital}}</p>
              </ul>
          </div>
      </center>

      <p>{{project.description}}</p>
      <center>

      </center>
  </div>
</div>
<style>
/* hover */
.hover {
            overflow: hidden;
            position: relative;
            padding-bottom: 60%;
            width: 98.5vw;
            height: 100%;
            object-fit: contain;
        }

        .hover-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 90;
            transition: all 0.4s;
        }

        .hover img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s;
        }

        .hover-content {
            position: relative;
            z-index: 99;
        }

        .hover-3::after {
            content: ' ';

            top: 17.9rem;
            left: 25rem;
            z-index: 90;
            transition: all 0.3s;
            transform: scale(1.1);
            opacity: 0;
            display: block;
            opacity: 0;
        }

        .hover-3-content {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;
            z-index: 99;
        }

        .hover-3-description {
            opacity: 0;
            transform: scale(1.3);
            transition: all 0.3s;
        }

        .hover-3 img {
            width: 110%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .hover-3 .hover-overlay {
            background: rgba(0, 0, 0, 0.2);
        }

        .hover-3:hover img {
            width: 100%;
        }

        .hover-3:hover::after {
            opacity: 1;
            transform: none;
        }

        .hover-3:hover .hover-3-description {
            width: 140px;
            border-style: solid;
            border-color: white;
            border-width: 1px;
            padding: 10px 0px 10px 0px;
            opacity: 1;
            transform: none;
        }

        .hover-3:hover .hover-overlay {
            background: rgba(0, 0, 0, 0.8);
        }


        /* Comments */

        .navbar-nav {
            width: 100%;
        }

        @media(min-width:568px) {
            .end {
                margin-left: auto;
            }
        }

        @media(max-width:768px) {
            #post {
                width: 100%;
            }
        }

        #clicked {
            padding-top: 1px;
            padding-bottom: 1px;
            text-align: center;
            width: 100%;
            background-color: #ecb21f;
            border-color: #a88734 #9c7e31 #846a29;
            color: black;
            border-width: 1px;
            border-style: solid;
            border-radius: 13px;
        }

        #profile {
            background-color: unset;

        }

        #post {
            margin: 10px;
            padding: 6px;
            padding-top: 2px;
            padding-bottom: 2px;
            text-align: center;
            background-color: #ecb21f;
            border-color: #a88734 #9c7e31 #846a29;
            color: black;
            border-width: 1px;
            border-style: solid;
            border-radius: 13px;
            width: 50%;
        }


        #nav-items li a,
        #profile {
            text-decoration: none;
            color: rgb(224, 219, 219);
            background-color: rgb(255, 255, 255);
        }


  </style>
{% endblock%}