{% extends 'base/base.html'%}{% load django_bootstrap5 %} {% block content %}


{{block.super}}
<center>
  <h2 style="color: white;margin-bottom: 50px;">Kindly Upload your new project below</h2>
  <div class=" form col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4 ">
    <form action=" {%url 'new_business' neighbourhood.id%} " method="POST" enctype="multipart/form-data">
      {%csrf_token%} {% bootstrap_form form%}
      <button type=" submit " id="post_button" class=" btn btn-lg " value=" Post ">Submit</button>
    </form>
  </div>
</center>

{% endblock%}