<nav class="navbar navbar-light bg-light">
  <div>
    <a class="navbar-brand">Home</a>
    <a class="navbar-brand">Contact</a>
    <a class="navbar-brand">About</a>
  </div>
  {% if user.is_authenticated %}
  <div>
    <a class="navbar-brand" href="{% url 'profile' user %}">profile</a>
    <a class="navbar-brand" href="{% url 'logout' %}">logout</a>
    <a class="btn btn-lg active" aria-current="page" href="{% url 'new_neighbourhood' %}">Add neighbourhood</a>

  </div>

  {% else %}
  <div>
    <a class="navbar-brand" href="{% url 'register' %}">register</a>
    <a class="navbar-brand" href="{% url 'login' %}">Login</a>
  </div>

  {% endif %}
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_business"/>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_business">
      Search
    </button>
  </form>
</nav>
