<nav class="navbar navbar-light bg-light">
  <div>
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <a class="navbar-brand">Contact</a>
    <a class="navbar-brand">About</a>
  </div>
  {% if user.is_authenticated %}
  <div>
    <a class="navbar-brand" href="{% url 'profile' user %}">profile</a>
    <a class="navbar-brand" href="{% url 'logout' %}">logout</a>
    <a class="btn btn-lg active" aria-current="page" href="{% url 'new_neighbourhood' %}">Add neighbourhood</a>
    <a class="btn btn-lg active" aria-current="page" href="{% url 'neighbourhood' user.neighbourhood_set.name %}">neighbourgood</a>

  </div>

  {% else %}
  <div>
    <a class="navbar-brand" href="{% url 'register' %}">register</a>
    <a class="navbar-brand" href="{% url 'login' %}">Login</a>
  </div>

  {% endif %}
  <form class="form-inline" role="search" action="{% url 'business_search'%} ">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search Business" name="business_search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>
